.card {
    width: 30%;
    padding: 10px;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(173,173,173,1);
    -moz-box-shadow: 4px 3px 5px 0px rgba(173,173,173,1);
    box-shadow: 4px 3px 5px 0px rgba(173,173,173,1);
    border-radius: 10px;
    border: .5px solid black;

    .image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin: 20px 0;
    }

    .desc {
        color: #333;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .cardButton {
        border: none;
        border-radius: 10px;
        background-color: rgb(118, 36, 196);
        color: white;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
    }
}